<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <name>SimpleSEO</name>
  <key>spseo</key>
  <description>Simple Search Engine Optimization toolkit</description>
  <author>Thao Le</author>
  <authorEmail>thaolt@songphi.com</authorEmail>
  <authorUrl>http://owdemo.songphi.com</authorUrl>
  <developerKey>f3cf04f4be78d22162470c28a80dbd93</developerKey>
  <build>10000</build>
  <copyright>(C) 2013 SongPhi LLC. All rights reserved.</copyright>
  <license>AGPL3</license>
  <licenseUrl>>https://raw.githubusercontent.com/SongPhi/spseo/master/LICENSE</licenseUrl>
</plugin>