<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <name>SimpleSEO</name>
  <key>spseo</key>
  <description>Simple Search Engine Optimization toolkit</description>
  <author>SongPhi</author>
  <authorEmail>sales@songphi.com</authorEmail>
  <authorUrl>http://owdemo.songphi.com</authorUrl>
  <developerKey>21a0f37c3797eb620e85c5fe75ce5294</developerKey>
  <build>10101</build>
  <copyright>(C) 2015 SongPhi LLC.</copyright>
  <license>AGPL3</license>
  <licenseUrl>https://raw.githubusercontent.com/spthaolt/spseo/master/LICENSE</licenseUrl>
</plugin>